* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$mainBlack: #222;
$mainGreen: #83b340;
$mainWhite: #fff;

$mainGrey: #ececec;
$mainTransition: all 0.2s linear;

body {
  margin: 0;

  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $mainGreen;
  color: $mainBlack;
}
